.centent-promote {
    background: transparent !important;
    max-width: 500px !important
}

@media (max-width:768px) {
    .centent-promote {
        max-width: 480px !important
    }
}

@media (max-width:479px) {
    .centent-promote {
        max-width: 340px !important
    }
}

@media (max-width:320px) {
    .centent-promote {
        max-width: 240px !important
    }
}